@{
    ViewData["Title"] = "Startseite - Weltrettung_2";
}

<h1>Willkommen zur Weltrettung!</h1>
<p>Helfen Sie mit, die Welt zu retten.</p>
<a asp-controller="Weltrettung" asp-action="WeltretterForm">Jetzt die Welt retten</a>
